body{
margin:0px;
}
.beijing{
width:100%;
height:100%;
background-image:url(../image/c.jpg);
}
#a{ 
  margin: 0px auto;
  position:relative;
}
.zhezhao{
width:100%;
height:100%;
background:#000000;
opacity:0.4;
font-size:72px;
font-family:"新宋体";
display:none;
position:absolute;
top:0px;
left:0px;
text-align:center;
z-index:10;
color:#FFFFFF;
}
.zai{
width:200px;
height:50px;
border:2px solid #FFFFFF;
border-radius:50%;
color:white;
  font-size:24px;
  position:absolute;
  top:400px;
  left:250px;
text-align:center;
  line-height:50px;
}
.zhezhao1{
width:100%;
height:100%;
background:#000000;
opacity:0.4;
font-size:72px;
font-family:"新宋体";
display:none;
position:absolute;
top:0px;
left:0px;
text-align:center;
z-index:10;
color:#FFFFFF;
}
.zai1{
width:200px;
height:50px;
float:left;
border:2px solid #FFFFFF;
border-radius:50%;
position:absolute;
left:0px;
top:0px;
color:white;
font-size:24px;
text-align:center;
  line-height:50px;
}
.b{
width:70px;
height:70px;
float:left;
font-size:24px;
border-radius:50%;
text-align:center;
line-height:70px;
border:1px solid #000000;
background-image:url(../image/a.jpg);
color:rgb(154, 15, 5);
opacity:0.6;
margin-left:14.5px;
margin-top:14.5px;
 box-shadow:0 0 4px #ccc;
 -webkit-transition:all .3s ease;
}
.b:hover{
 box-shadow:4px 4px 20px #ccc inset,-4px -4px 20px #ccc inset;
}
